@font-face {
    font-family: Courgette;
    src: url(../fonts/Courgette-Regular.ttf);
}

@font-face {
    font-family: OCR-A;
    src: url(../fonts/OCRAEXT.TTF);
}

@font-face {
    font-family: DS-Digi;
    src: url(../fonts/DS-DIGITAL/DS-DIGI.TTF);
}

@font-face {
    font-family: Calibri;
    src: url(../fonts/Calibri/calibri.ttf);
}